p {
  color: black;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 14pt;
  margin: 0pt;
  margin-top: 20px;
}
.advantages-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 14pt;
}
.types {
  text-align: center;
}
.quality {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.quality-list {
  color: black;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 14pt;
}
.headname {
  text-align: center;
}
.visuallty-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td,
th {
  border: 1px solid black;
  padding: 10px;
}
.image-cell img {
  width: 100%;
  height: 100%;
}
.description li {
  margin-bottom: 10px;
  color: black;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 14pt;
}
.pdf-link {
  margin-top: 20px;
  text-align: center;
}
.img-perf {
  width: 50%;
}
.advantages-box {
  display: flex;
}
.container {
  width: 100vh;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}
.advantages-list {
  color: black;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 14pt;
  display: flex;
  list-style: none;
  gap: 15px;
  flex-direction: column;
}
